<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp_view.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcp_view.Perspective"
            id="rcp_view.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="打开">
            <command
                  commandId="rcp_view.command2"
                  style="push">
            </command>
         </menu>
         <menu
               label="编辑">
            <command
                  commandId="rcp_view.command3"
                  style="push">
            </command>
         </menu>
         <menu
               label="窗口">
            <command
                  commandId="rcp_view.command4"
                  style="push">
            </command>
         </menu>
         <menu
               label="退出">
            <command
                  commandId="rcp_view.command5"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="rcp_view.open"
            name="name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="jonee.view.MyView1"
            id="rcp_view.view1"
            name="视图1"
            restorable="true">
      </view>
      <view
            class="jonee.view.MyView2"
            id="rcp_view.view2"
            name="视图2"
            restorable="true">
      </view>
      <view
            class="jonee.view.MyView3"
            id="rcp_view.view3"
            name="视图3"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="rcp_view.application"
            name="rcpview">
         <property
               name="appName"
               value="rcpview">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rcp_view.MyEditor"
            default="false"
            id="rcp_view.edutor"
            name="name">
      </editor>
   </extension>

</plugin>
